@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;900&display=swap');
    body {
        font-family: 'Raleway', sans-serif;
        background: rgb(128,247,166);
        background: linear-gradient(180deg, rgba(128,247,166,1) 0%, rgba(255,255,255,1) 57%);
        background-size: cover;

    }
   body ::placeholder{color: rgba(255, 255, 255, 0.76);}
