@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;900&display=swap');
    body {
        font-family: 'Raleway', sans-serif;
        
        background: rgb(172,88,245);
        background: linear-gradient(180deg, rgba(172,88,245,1) 0%, rgba(222,176,244,0.9444152661064426) 57%);
        background-size: cover; 

    }
   body ::placeholder{color: rgba(255, 255, 255, 0.76);}
